//general
.text-two-column {
  column-count: 2;
  column-gap: 3rem;
  margin: 1.5rem 0;
}

//Text
.mega-text {
  font-size: 140px;
  line-height: 120px;
}

//Aspect Ratios
.2 {
  min-height: auto;
  width: 100%;
  position: relative;
  height: 0;
  padding: 66.64% 0 0;
  overflow: hidden;
}

.aspect-1-1 {
  min-height: auto;
  width: 100%;
  position: relative;
  height: 0;
  padding: 100% 0 0;
  overflow: hidden;
}

.aspect-2-1 {
  min-height: auto;
  width: 100%;
  position: relative;
  height: 0;
  padding: 50% 0 0;
  overflow: hidden;
}

.aspect-3-1 {
  min-height: auto;
  width: 100%;
  position: relative;
  height: 0;
  padding: 33.33% 0 0;
  overflow: hidden;
}

.aspect-5-7 {
  min-height: auto;
  width: 100%;
  position: relative;
  height: 0;
  padding: 140% 0 0;
}

.aspect-7-5 {
  min-height: auto;
  width: 100%;
  position: relative;
  height: 0;
  padding: 71.429% 0 0;
}

//header
.nav-utility {
  float: right;

  .cart {
    padding-top: 23px;
    margin-right: 2rem;
  }
}

#header {
  height: 76px;

  .grid-container {
    padding: 0 2rem;
  }
}

.nav-logo {
  display: inline-block;
  position: relative;
  z-index: 100;
  transform: none;

  .brand .logo {
    width: auto;
    height: 60px;
  }
}

.no-js {
  #nav-primary,
  #menu-primary,
  #header {
    display: none !important;
  }
}

.nav-primary.off-canvas.in-canvas-for-large {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 80%;
  width: fit-content;

  .menu.large-horizontal {
    justify-content: center;
    align-items: center;
  }
}

.block.square {
  padding-bottom: 50%;

  .block-wrap {
    min-height: auto;
  }

  .block-content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}

.menu-item.search-icon {
  text-indent: -99px;
  margin-left: 0;
  overflow: hidden;
  background: url(../images/search-icon.svg) 0 0 no-repeat;

  a {
    line-height: 26px !important;
    padding: 0 !important;
    width: 26px;
  }
}

//Menu
#nav-primary {
  position: absolute;
  width: 100%;
  transition: none;

  .menu {
    position: static;
  }

  .menu-primary-container {
    display: block;
    float: right;
  }

  #menu-primary {
    > .is-dropdown-submenu-parent {
      position: static;
    }
  }

  .dropdown.menu.large-horizontal > li.is-dropdown-submenu-parent > a {
    padding: 0 1.5rem 0 0;
    margin-right: 2rem;
  }

  ul {
    li {
      &.menu-item.menu-button {
        margin-bottom: 0;
        padding: 13px 2rem 1rem;

        a {
          width: 100%;
          line-height: 48px;
          padding-top: 0;
          padding-bottom: 0;
          margin-left: 0;
        }
      }
    }
  }

  &.off-canvas {
    background-color: transparent;
    height: auto;
    width: 100%;
    transition: none;

    &.is-closed {
      width: 100%;
    }
  }

  ul.menu > li {
    > .is-dropdown-submenu {
      display: flex;
      padding: 2rem;
      position: absolute;
      margin-left: 0;
      visibility: hidden;
      overflow: hidden;
      height: 0;
      box-sizing: border-box;
      width: 100%;
      flex-wrap: wrap;
      align-content: flex-start;
      background-color: rgba(255, 255, 255, 0.9);
      justify-content: center;

      &.js-dropdown-active {
        visibility: visible;
        transition: height 0.5s;
        padding-top: 1rem;
        overflow-y: scroll;
        height: 400px;
      }

      .is-dropdown-submenu {
        background-color: transparent;
      }

      > li {
        flex-basis: 20%;
        max-width: 20%;
        flex-grow: 1;
        flex-shrink: 1;
        height: fit-content;
        margin-bottom: 1rem;
        display: none;
      }
    }

    &.two-column-menu {
      > .is-dropdown-submenu {
        padding: 2rem 20% 2rem 28%;

        > li {
          flex-basis: 50%;
          max-width: 50%;
          justify-content: center;
          display: flex;

          > a {
            width: 100%;
            display: block;
          }
        }

        > li.menu-item-has-children {
          -webkit-box-flex: 1;
          flex-grow: 1;
          flex-shrink: 1;
          flex-basis: 100%;
          max-width: 100%;
          flex-direction: column;

          > a {
            width: 100%;
            flex-basis: 100%;
          }
        }

        > li:nth-child(odd):last-child {
          -webkit-box-flex: 1;
          flex-grow: 1;
          flex-shrink: 1;
          flex-basis: 100%;
          max-width: 100%;
        }
      }
    }

    &.is-active > .is-dropdown-submenu > li {
      display: block;
    }
  }
}

#header.is-stuck #nav-primary ul.menu > li > .is-dropdown-submenu.js-dropdown-active {
  height: calc(60vh);
}

.dropdown.menu {
  > li > a {
    line-height: 76px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .is-submenu-item {
    a {
      line-height: 24px;
    }
  }

  .submenu .submenu {
    width: 100%;

    li:first-child a {
      padding-top: 0;
    }

    li:last-child a {
      padding-bottom: 0;
    }
  }
}

.dropdown.menu.large-horizontal > li.opens-right > .is-dropdown-submenu {
  z-index: 100;
}

.dropdown.menu.vertical > li.opens-right {
  > a::after {
    content: '';
    height: 10px;
    width: 10px;
    border: none;
    border-top: 2px solid $blue;
    border-right: 2px solid $blue;
    display: inline-block;
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 33px;
    right: 8px;
  }

  &.is-active > a::after {
    border-top: 2px solid $blue-highlight;
    border-right: 2px solid $blue-highlight;
  }

  &.current-menu-item > a::after {
    border-top: 2px solid $blue-highlight;
    border-right: 2px solid $blue-highlight;
  }
}

#header.is-stuck {
  height: 46px;
  z-index: 100;
  box-shadow: 0 0 3px #999;
  background-color: rgba(255, 255, 255, 0.9);

  .brand .logo {
    height: 30px;
  }

  .button-container {
    top: 2px;
  }

  a.button {
    padding: 0.7rem 1rem;
  }

  .dropdown.menu > li > a {
    line-height: 46px;
  }

  #nav-primary ul li.menu-item.menu-button {
    padding: 6px 1rem;

    a {
      line-height: 34px;
    }
  }

  .dropdown.menu.vertical > li.opens-right > a::after {
    content: '';
    top: 18px;
  }
}

//off canvas search
#off-canvas-search {
  background-color: $blue;
  z-index: 100;
}

.position-top {
  height: 76px;
}

.search-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  text-align: center;
  max-width: 400px;

  label {
    width: 100%;
  }

  .search-submit {
    background-color: $blue-highlight;
    margin-bottom: 0;
    margin-left: 10px;
  }

  .search-field,
  .search-field:focus {
    background-color: transparent !important;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    box-shadow: none;
    transition: none;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px $blue inset;
    -webkit-text-fill-color: $white;
  }

  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px $blue inset;
    -webkit-text-fill-color: $white;
  }

  .search-submit:hover {
    background-color: darken($blue-highlight, 30%);
    outline: none;
  }
}

.full-height {
  height: calc(100vh - 76px);
}

.container {
  padding: 0 50px;
  max-width: 1380px;
}

//home slider
.page-header-slider {
  button {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
  }

  &:hover {
    button {
      visibility: visible;
      opacity: 1;
    }
  }
}

.full-screen-slider {
  height: calc(100vh - 276px);
  min-height: 400px;

  .slide {
    height: calc(100vh - 276px);
    min-height: 400px;
    overflow: hidden;
    position: relative;
  }

  .content-cell {
    position: relative;
    background-color: rgba($blue, 0.85);
    width: 580px !important;

    &::after {
      content: " ";
      position: absolute;
      right: -20%;
      top: 0;
      width: 20%;
      height: 100%;
      background-color: rgba($blue, 0.85);
      -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
      clip-path: polygon(0 0, 100% 0, 0 100%);
    }
  }

  .slide-content {
    padding-left: 8rem;
    padding-right: 2rem;
  }
}

.slider {
  button {
    top: 50%;
    top: calc(50% - 50px);
  }
}

//Page header
.page-header {
  .one-column-section {
    max-height: calc(100vh - 200px);
    min-height: 480px;
  }

  .overlap-section.background-header {
    margin-top: -6rem;
    max-width: 928px;
  }

  .overlap-content {
    padding: 4rem;
    position: relative;
    z-index: 1;
  }
}

//Sections
.one-column-section {
  .grid-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .aspect-3-1 {
    .grid-container {
      max-width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .flex-center {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.two-column-section {
  .grid-container {
    max-width: 1200px;
  }
}

.values-section .grid-padding-x > .cell {
  padding-left: 0;
  padding-right: 0;
}

.square-grid .grid-container {
  max-width: 928px;
}

.square-grid.staff .grid-container {
  max-width: 1200px;
}

.tab-section .grid-container {
  max-width: 1200px;
}

.three-square-grid .background-content {
  position: absolute;
}

.donate-section {
  padding-top: 3rem;
  padding-bottom: 3rem;

  &.grid-container {
    max-width: 56rem;
  }

  .input-currency {
    position: relative;

    &::after {
      content: "$";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      line-height: 24px;
      padding-left: 8px;
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }

  #amount {
    padding-left: 20px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: 1px solid #3fa2f7;
  }
}

.category-slider {
  &[data-slide-count="1"] {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;

    .slide:hover .aspect,
    .slick-current .aspect {
      position: relative;
    }
  }

  &[data-slide-count="2"] {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;

    .slide:hover .aspect {
      position: relative;
    }
  }

  &[data-slide-count="3"] {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
  }

  &[data-slide-count="4"] {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
  }

  button {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
  }

  &:hover {
    button {
      visibility: visible;
      opacity: 1;
    }
  }
}

//Tabs
.tabs-panel {
  padding: 4rem;
}

.background-image-tabs {
  .tabs-content {
    padding: 6rem;
  }
}

//Blog
.blog-hero-header.page-header {
  .one-column-section {
    max-height: calc(100vh - 140px);
    min-height: 480px;
  }

  .overlap-section {
    margin-top: 0;
  }

  .overlap-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 1rem;
  }
}

.post-menu .grid-container {
  padding-left: 79px;
  padding-right: 79px;
}

#post-categories {
  column-count: 3;
}

.posts-cell {
  &:nth-child(odd) {
    padding-left: 4rem;
    padding-right: 2rem;
  }

  &:nth-child(even) {
    padding-left: 2rem;
    padding-right: 4rem;
  }

  .entry-title {
    text-transform: capitalize;
  }
}

.article-highlighted {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

.single {
  .blog-hero-header.page-header .text-header .overlap-content {
    position: relative;

    &.background-header {
      position: absolute;
    }
  }
}

//Footer
.footer-email .grid-container {
  max-width: 800px;
}

.footer-utilities .grid-container {
  max-width: 1200px;
}

#copyright {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
}
