//font-size
//Text
h1,
.h1 {
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.5px;
}

h2,
.h2 {
  font-size: 1.625rem;
  line-height: 2.4rem;
  letter-spacing: 0.5px;
}

h3,
.h3 {
  font-size: 1.3rem;
  line-height: 1.7rem;
}

h4,
.h4 {
  font-size: 1rem;
  line-height: 1.5rem;
}

h5,
.h5 {
  font-size: 1rem;
  line-height: 1.5rem;
}

//general
.giving-box {
  margin-top: 2rem;

  ul {
    padding-left: 0;
  }
}

.background-header.grid-container {
  padding: 0;
}

.is-dropdown-submenu {
  height: 100% !important;
}

.small-view-font {
  font-size: 2.2rem;
  line-height: 3rem;
}

.two-column-section .column-content {
  padding: 0;
}

.zig-zag {
  .grid-x:nth-child(even) {
    .cell:first-child {
      order: 2;
      margin-top: 2rem;
    }

    .cell:last-child {
      order: 1;
    }
  }
}
