//general
section {
  position: relative;
}

//background colors
.blue {
  background-color: $blue;
}

.blue-highlight {
  background-color: $blue-highlight;
}

//Text
.text-white {
  color: $white;

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5 {
    color: $white;
  }

  a {
    color: $white;
  }
}

.text-blue {
  color: $blue;

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5 {
    color: $blue;
  }
}

.text-center {
  text-align: center;
}

.mega-text {
  font-size: 30px;
  line-height: 40px;
  font-family: $font-ultra;
  font-weight: $font-weight-ultra;
  text-transform: uppercase;
}

a {
  color: $blue-highlight;

  &:hover {
    color: darken($blue-highlight, 0.4);
  }
}

:focus,
:active {
  outline: none;
}

strong {
  font-family: $font-bold;
  font-weight: $font-weight-bold;
}

//Foundation
.grid-container {
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
}

//Background Containers
.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;

  img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center center;
  }
}

.aspect {
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.aspect-5-7 {
  min-height: auto;
  width: 100%;
  position: relative;
  height: 0;
  padding: 140% 0 0;
}

.background-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.content-align {
  width: 100%;
}

.flex-center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Header
#header .grid-container {
  max-width: 100%;
  padding: 0 1rem;
}

.nav-button-container {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 1rem;
}

.nav-logo,
.off-canvas-logo {
  padding: 0.5rem 1rem 0.5rem 0;
  position: static;
  display: inline-block;

  .brand {
    display: block;
  }

  .logo {
    height: 46px;
    width: auto;
    box-sizing: content-box;
  }
}

.off-canvas-logo .logo {
  padding-left: 1rem;
}

.control {
  position: relative;
  z-index: 15;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  padding: 22.5px 0;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;

  &[aria-expanded="true"],
  &.active {
    .control-inner {
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: rotate(45deg);

      &::before {
        top: 0;
        transition: top 75ms ease, opacity 75ms ease 0.12s;
        opacity: 0;
      }

      &::after {
        bottom: 0;
        transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
        transform: rotate(-90deg);
      }
    }
  }
}

.control-box {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
}

.control-inner {
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 75ms;
  position: absolute;
  width: 30px;
  height: 3px;
  transition-property: transform;
  border-radius: 3px;
  background-color: $blue;
  top: 50%;
  display: block;
  margin-top: -2px;

  &::before,
  &::after {
    top: -8px;
    display: block;
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    transition-timing-function: ease;
    transition-duration: 0.15s;
    transition-property: transform;
    border-radius: 3px;
    background-color: $blue;
  }

  &::after {
    bottom: -8px;
    top: auto;
  }
}

.header {
  height: 62px;
  z-index: 100;
  position: relative;

  .icon-bar {
    background-color: $white;
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 1px;
    margin-top: 4px;
  }

  .menu-cta a.button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 0;
  }
}

.close-button {
  top: 0;

  span {
    font-family: $font-bold;
    padding: 19px 0;
    color: $black;
    font-size: 20px;
    vertical-align: sub;
    display: block;
  }
}

//Menu
.off-canvas-utilities {
  margin: 0.7rem 1rem;
  border-top: 1px solid $gray;
}

.top-bar {
  padding: 0;
  background-color: transparent;

  ul {
    background-color: transparent;
  }
}

.social-list {
  margin-top: 0;

  li {
    padding: 1.4rem 0.5rem;
    display: inline-block;

    &:first-child {
      padding-left: 0;
    }

    a {
      padding: 0 !important;
    }
  }

  svg,
  img {
    height: 18px;
    width: auto;
    vertical-align: bottom;
  }
}

#nav-primary {
  color: $blue;
  transition: none;

  ul {
    &:first-child {
      margin-left: 0;
    }

    li {
      list-style: none;

      a {
        font-family: $font-bold;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        color: $blue;

        &:hover {
          color: $blue-highlight;
        }
      }

      &.current-menu-item {
        a {
          color: $blue;
        }
      }

      &.menu-item.menu-button a {
        background-color: $blue-highlight;
        border-radius: 4px;
        color: $white;
        display: inline-block;
        margin-left: 1rem;
      }

      &.is-submenu-item {
        a {
          font-family: $font-regular;
          font-weight: $font-weight-regular;
        }
      }

      &.is-dropdown-submenu-parent.menu-item-has-children > a {
        font-family: $font-bold;
        font-weight: $font-weight-bold;
      }

      &.is-active > a {
        color: $blue-highlight;
      }

      &.current-menu-item > a {
        color: $blue-highlight;
      }
    }

    &.sub-menu {
      margin-left: 0.5rem;

      &.sub-menu li a {
        position: relative;
        font-size: 14px;
        padding: 0.75rem 0.75rem;
      }
    }
  }

  &.off-canvas {
    background-color: $white;
    transition: 0.4s;
    width: 0;
    height: 100vh;

    ul {
      li {
        a {
          padding: 0.7rem 1rem;
        }

        &.menu-button {
          margin-top: 0;
          margin-left: 0;

          a {
            padding: 0.7rem 1rem;
          }
        }
      }
    }

    .social-links {
      li {
        display: inline-block;

        img {
          padding: 1rem;
          width: 30px;
          box-sizing: content-box;
        }
      }
    }

    .is-dropdown-submenu {
      background-color: transparent;
      border: none;
    }

    .search-icon {
      circle,
      path,
      rect {
        stroke: $white;
      }
    }

    &.is-open {
      width: 100%;
      overflow-x: hidden;
    }
  }

  &.expanded {
    display: block !important;
    background-color: $white;
  }
}

.is-dropdown-submenu {
  position: static;
  display: block;
}

.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right > a::after {
  display: none;
}

//Dropdown third level
.is-dropdown-submenu-parent.is-active > .sub-menu > .is-dropdown-submenu-parent > .sub-menu {
  position: static;
  border: none;
  display: block;
  visibility: visible;
  height: auto !important;
}

//Page header
.page-header {
  .overlap-content {
    padding: 2rem;
  }

  .aspect-2-1 {
    min-height: auto;
    width: 100%;
    position: relative;
    height: 0;
    padding: 50% 0 0;
    overflow: hidden;
  }

  h1 {
    margin-bottom: 0;
  }
}

//Form
input[type=text] {
  background-color: transparent !important;
  border-left: none;
  border-right: none;
  border-top: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

//Search
#offCanvasTop {
  height: auto;
  background-color: rgba(40, 40, 40, 0.9);

  .cell {
    padding: 2rem 0;
  }
}

.search-field {
  background-color: transparent;
  border: none;
  box-shadow: none;
  border-bottom: $white 2px solid;
  border-radius: 0;
  color: $white;
  margin-bottom: 0;
  line-height: 38px;
  height: auto;
  padding-top: 6px;
  padding-bottom: 6px;
}

#off-canvas-search {
  position: absolute;
  background-color: $blue;
  z-index: 100;
  width: 100%;
  height: 100%;

  .close-button span {
    color: $white;
  }
}

//Page
#hero-content,
.hero-content,
.background-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .grid-x {
    height: 100%;
  }
}

//slider
.slider {
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
  background-color: transparent;
  display: none;

  &.slick-initialized {
    display: block;
  }

  button {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 40px;
    text-indent: -9999em;
    z-index: 2;
    cursor: pointer;
  }

  .slick-prev {
    left: 20px;

    &::after {
      position: absolute;
      top: 25px;
      left: 0;
      content: '';
      height: 30px;
      width: 30px;
      border-top: 2px solid #fff;
      border-left: 2px solid #fff;
      display: inline-block;
      transform: rotate(-45deg);
    }
  }

  .slick-next {
    right: 20px;

    &::after {
      position: absolute;
      top: 25px;
      left: 0;
      content: '';
      height: 30px;
      width: 30px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      display: inline-block;
      transform: rotate(45deg);
    }
  }

  .slide-title {
    color: $white;
    font-family: $font-ultra;
    font-weight: $font-weight-ultra;
  }

  .slide-content {
    color: $white;
  }

  .background-content {
    .cell {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}

.full-screen-slider .slide-button {
  font-family: $font-bold;
  font-weight: $font-weight-bold;
}

.slick-list {
  padding: 0;
}

.slick-initialized .slick-slide {
  overflow: hidden;
}

//home
.full-screen-slider {
  .slide {
    height: calc(100vh - 76px);
    overflow: hidden;
    position: relative;

    .content-cell {
      display: flex;
      align-items: center;
      padding-left: 1rem;
      padding-right: 1rem;

      &.blue {
        background-color: rgba($blue, 0.85);
      }
    }
  }

  .grid-x {
    height: 100%;
  }

  .background-image {
    img {
      height: auto;
      width: auto;
      min-height: 100%;
      min-width: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
      transition: opacity 0.5s ease 0s;
    }
  }
}

#home-statement {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#006799+0,0a435f+100&0.86+0,1+100 */
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 103, 153, 0.86) 0%, rgba(10, 67, 95, 1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 103, 153, 0.86) 0%, rgba(10, 67, 95, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(0, 103, 153, 0.86) 0%, rgba(10, 67, 95, 1) 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#db006799', endColorstr='#0a435f', GradientType=1);

  .background-image img {
    opacity: 0.4;
  }

  h1 {
    text-shadow: 1px 1px 5px #333;
  }
}

//Sections
.one-column-section {
  position: relative;
  overflow: hidden;

  .grid-container {
    padding-top: 4rem;
  }

  .aspect-3-1 {
    .grid-x {
      max-width: 800px;
    }
  }

  .button {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
}

.two-column-section {
  .grid-container {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.posts-section {
  .grid-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.cell-background-image {
  position: relative;
}

.column-content {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
}

.donate-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.donate-cell {
  margin-left: -2px;
  position: relative;
  z-index: 2;

  .button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 1px solid $blue-highlight;

    &:hover {
      border-bottom-color: darken($blue-highlight, 20%);
    }
  }
}

.donate-text {
  color: $blue;
}

.horizontal-ul {
  display: flex;
  flex-basis: auto;

  li {
    list-style: none;
    margin-bottom: 0;
  }
}

.toggle-giving {
  margin-top: 0;
  margin-bottom: 1rem;

  li {
    width: 50%;

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &.active,
    &:hover {
      background-color: $blue-highlight;
    }
  }
}

.donate-amounts {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
  height: 0;
  margin-top: 1rem;
  margin-bottom: 0;
  justify-content: space-between;

  li {
    flex-basis: 0;
    flex-grow: 1;
    padding: 2px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    a {
      margin-bottom: 0;
      flex-basis: 0;
      flex-grow: 1;
      width: 100%;
      display: block;
      font-size: 13px;

      &.active,
      &:hover {
        background-color: $blue-highlight;
      }
    }
  }
}

.donate-amounts.visible {
  display: flex;
  visibility: visible;
  height: auto;
  opacity: 1;
}

.select-category-section {
  position: relative;
  z-index: 2;
}

.category-slider {
  h4 {
    color: $white;
    font-size: 24px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  }

  p {
    color: $white;
    margin: 0.5rem 0;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  }

  .category-select-button {
    position: absolute;
    bottom: 1rem;
    width: 100%;
  }

  .background-content {
    background-color: rgba(77, 77, 77, 0.8);

    .cell a {
      font-size: 14px;
      padding: 0.25rem 1rem;
      margin-top: 0.5rem;
      color: $white;
      border: 1px solid $blue-highlight;
      display: inline-block;
      border-radius: 4px;
    }
  }

  .slick-list {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }

  button {
    top: 50%;
    top: calc(50% - 50px);
  }

  .slide:hover,
  .slick-current {
    position: relative;
    overflow: visible;
    z-index: 10;

    .aspect {
      transform: scale(1.1);
      z-index: 100;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      border-radius: 4px;
    }

    .background-content {
      background-color: rgba(77, 77, 77, 0.1);

      .cell a {
        background-color: $blue-highlight;
      }
    }
  }

  .slide:hover {
    z-index: 11;
  }
}

.category-link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.footer-utilities {
  ul {
    list-style: none;
  }
}

//Tabs
#section-tabs {
  text-align: center;
  background-color: transparent;
  border: none;
}

.tabs-content {
  border: none;
  background-color: $blue;
  position: relative;
  padding: 0;
  color: $white;
}

.tabs-title {
  float: none;
  display: inline-block;

  a {
    color: $blue;
  }

  a:hover,
  a:focus {
    color: $blue-highlight;

    .tab-icon {
      background-color: $blue;
    }
  }

  &.is-active {
    a {
      background-color: $blue;
      color: $white;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }
}

.tabs-title > a[aria-selected='true'] {
  color: $white;

  .tab-icon {
    background-color: $blue;
  }
}

.tab-icon {
  border-radius: 100%;
  border: 1px solid $blue-highlight;
  width: 36px;
  height: 36px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  img {
    width: 21px;
    padding-top: 8px;
    height: auto;
    display: inline-block;
    margin: 0;
  }
}

.background-image-tabs {
  .tabs-content {
    background-color: $white;
    color: $black;
  }
}

.cta-section .background-image::after {
  content: ' ';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba($blue, 0.7);
}

//Staff
.staff-cell {
  padding: 1rem 2rem;
  background-color: rgba($blue, 0.2);
}

.staff-title {
  margin-top: 0;
}

.staff .cell .aspect,
.square .aspect {
  position: relative;
}

//Square grid
.square-grid {
  margin-top: 4rem;
}

//Annual Report Section
.report-single-link {
  display: inline-block;
  padding-top: 6px;
  font-weight: bold;

  img {
    width: 400px;
    height: auto;
    box-shadow: 0 0 12px rgb(120, 120, 120);
  }

  p {
    font-weight: bold;
    text-transform: uppercase;
  }
}

//Blog Template
.hero-title-a {
  background-color: rgba($blue-highlight, 0.7);
  font-family: $font-ultra;
  font-weight: $font-ultra;
  line-height: 64px;

  &:hover {
    background-color: rgba($blue-highlight, 1);
    color: $white;
  }
}

.article-meta {
  padding: 0 3rem;
}

.meta-wrap {
  padding: 1rem;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+1,006797+69&0+0,0.9+69,0.9+100 */
  background: -moz-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(125, 185, 232, 0.01) 1%, rgba(0, 103, 151, 0.9) 69%, rgba(0, 103, 151, 0.9) 100%);
  background: -webkit-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(125, 185, 232, 0.01) 1%, rgba(0, 103, 151, 0.9) 69%, rgba(0, 103, 151, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, rgba(125, 185, 232, 0.01) 1%, rgba(0, 103, 151, 0.9) 69%, rgba(0, 103, 151, 0.9) 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#007db9e8', endColorstr='#e6006797', GradientType=0);
}

.author-image-wrap {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  display: inline-block;
}

.blog-hero-header {
  &.page-header {
    .overlap-content {
      padding-top: 0;
    }
  }

  .author {
    padding-bottom: 0.25rem;
    margin: 0.25rem 0;
    border-bottom: 2px solid rgba($white, 0.4);
    color: $white;
  }

  .date {
    margin: 0;
    color: $white;
    font-size: 14px;
  }
}

.post-menu-wrap {
  text-align: right;

  h4 {
    display: inline-block;
  }
}

.post-menu {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0;

  h3 {
    display: inline-block;
    cursor: pointer;

    &::after {
      content: '';
      height: 20px;
      width: 20px;
      border: none;
      border-top: 3px solid $blue;
      border-right: 3px solid $blue;
      display: none;
      -webkit-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
      margin-left: 12px;
      vertical-align: text-top;
    }

    &.shake::after {
      display: inline-block;
      animation: shake 5s cubic-bezier(1, 0.07, 0.19, 0.97) both;
      transform: translate3d(0, 0, 0) rotate(135deg);
      backface-visibility: hidden;
      perspective: 1000px;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes shake {
  0%,
  90% {
    transform: translate3d(0, 0, 0) rotate(135deg);
  }

  91% {
    transform: translate3d(0, -1px, 0) rotate(135deg);
  }

  93%,
  97% {
    transform: translate3d(0, 2px, 0) rotate(135deg);
  }

  92%,
  95%,
  98% {
    transform: translate3d(0, -4px, 0) rotate(135deg);
  }

  94%,
  100% {
    transform: translate3d(0, 4px, 0) rotate(135deg);
  }
}

.categories-toggle {
  cursor: pointer;
  line-height: 48px;

  .control {
    margin-left: 0.5rem;
    padding: 0;
  }
}

#post-categories {
  margin: 1rem;
  list-style: none;
  padding-bottom: 2rem;
  border-bottom: 1px solid #006797;

  li {
    padding-left: 4rem;

    a {
      font-family: $font-bold;
      font-weight: $font-weight-bold;
    }
  }
}

#post-menu-dropdown {
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  height: auto;
  max-height: 0;
}

#post-menu-dropdown.expanded {
  max-height: 600px;
}

.article-content {
  position: relative;
  padding: 0 2rem;
}

.top-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: all 0.7s cubic-bezier(0.2, 1, 0.22, 1);
    -webkit-transition: all 0.7s cubic-bezier(0.2, 1, 0.22, 1);
  }
}

.entry-title {
  line-height: 2.4rem;

  a:hover {
    color: $blue;
  }
}

.author {
  margin-top: 1rem;
  margin-bottom: 1rem !important;
  text-align: center;
}

.updated {
  position: absolute;
  transform: rotate(-90deg);
  font-weight: 14px;
  text-transform: capitalize;
  color: #999;
  transform-origin: left top;
  top: 133px;
  left: 0;
}

.read-more {
  display: block;
  background-color: $blue-highlight;
  color: white;
  margin-top: 1rem;
  padding: 8px;
  text-align: center;

  &:hover {
    background-color: $blue;
    color: $white !important;
  }
}

.article-highlighted {
  width: calc(100% - 1.875rem) !important;

  .article-content {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
}

.posts-cell {
  .aspect {
    margin-bottom: 1rem;
  }
}

.posts-cell:hover {
  .top-image img {
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
  }

  .entry-title a {
    color: $blue;
  }

  .read-more {
    background-color: $blue;
    color: $white !important;
  }
}

.pagination a {
  display: inline-block;
}

.page-numbers.next,
.page-numbers.prev {
  position: relative;
  width: 14px;
  height: 14px;
  vertical-align: middle;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 12px;
    width: 12px;
    border-top: 2px solid $blue;
    border-right: 2px solid $blue;
    display: inline-block;
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    transform-origin: center;
  }

  &:hover {
    background-color: transparent;

    &::before {
      border-top-color: $blue-highlight;
      border-right-color: $blue-highlight;
    }
  }
}

.page-numbers.prev {
  &::before {
    -webkit-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}

.single {
  .blog-hero-header.page-header {
    margin-bottom: 4rem;

    .text-header {
      padding: 4rem 0;
      background-color: $blue;

      .overlap-content {
        .meta-wrap {
          background: transparent;
        }
      }
    }

    .hero-title span {
      line-height: 69px;
      font-size: 46px;
      background-color: rgba($blue-highlight, 0.75);
      color: $white;
      font-family: $font-ultra;
      font-weight: $font-ultra;
    }
  }

  article {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
}

//footer
.footer-bottom {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;

  .h2 {
    margin-bottom: 0;
  }
}

.footer-menu li a {
  padding-left: 0;
}
