//general
section {
  position: relative;
}

//background colors
.blue {
  background-color: $blue;
}

.blue-highlight {
  background-color: $blue-highlight;
}

//Text
.text-white {
  color: $white;

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5 {
    color: $white;
  }

  a {
    color: $white;
  }
}

.text-blue {
  color: $blue;

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5 {
    color: $blue;
  }
}

.text-center {
  text-align: center;
}

.mega-text {
  font-size: 30px;
  line-height: 40px;
  font-family: $font-ultra;
  font-weight: $font-weight-ultra;
  text-transform: uppercase;
}

a {
  color: $blue-highlight;
}

strong {
  font-family: $font-bold;
  font-weight: $font-weight-bold;
}

//Foundation
.grid-container {
  position: relative;
}

//Background Containers
.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
}

.aspect {
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:focus {
    outline: none;
  }
}

.background-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.content-align {
  width: 100%;
}

//Aspect Ratios
.2 {
  min-height: auto;
  width: 100%;
  position: relative;
  height: 0;
  padding: 66.64% 0 0;
  overflow: hidden;
}

.aspect-1-1 {
  min-height: auto;
  width: 100%;
  position: relative;
  height: 0;
  padding: 100% 0 0;
  overflow: hidden;
}

.aspect-2-1 {
  min-height: auto;
  width: 100%;
  position: relative;
  height: 0;
  padding: 50% 0 0;
  overflow: hidden;
}

.aspect-3-1 {
  min-height: auto;
  width: 100%;
  position: relative;
  height: 0;
  padding: 33.33% 0 0;
  overflow: hidden;
}

.aspect-5-7 {
  min-height: auto;
  width: 100%;
  position: relative;
  height: 0;
  padding: 140% 0 0;
}

.aspect-7-5 {
  min-height: auto;
  width: 100%;
  position: relative;
  height: 0;
  padding: 71.429% 0 0;
}

// Header
.nav-button-container {
  position: absolute;
  right: 0;
  top: 0;
  padding: 19px 1rem;
}

.nav-button {
  margin-bottom: 0;
  padding: 0;
}

.nav-logo,
.off-canvas-logo {
  padding: 0.5rem 1rem;
  position: static;
  display: inline-block;
  outline: none;

  .brand {
    display: block;
  }

  .logo {
    height: 46px;
    width: auto;
    box-sizing: content-box;
    padding-left: 0;
  }
}

.header {
  height: 62px;
  z-index: 100;
  position: relative;

  .icon-bar {
    background-color: $white;
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 1px;
    margin-top: 4px;
  }

  .menu-cta a.button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 0;
  }
}

.menu-icon {
  display: inline-block;
  vertical-align: middle;
  height: 18px;

  &::after {
    background-color: $blue;
    -webkit-box-shadow: 0 7px 0 $blue, 0 14px 0 $blue;
    box-shadow: 0 7px 0 $blue, 0 14px 0 $blue;
  }
}

.close-button {
  top: 0;

  span {
    font-family: $font-bold;
    padding: 19px 0;
    color: $black;
    font-size: 20px;
    vertical-align: sub;
    display: block;
  }
}

//Menu
.off-canvas-utilities {
  margin: 0.7rem 1rem;
  border-top: 1px solid $gray;
}

.top-bar {
  padding: 0;
  background-color: transparent;

  ul {
    background-color: transparent;
  }
}

.social-list {
  margin-top: 0;

  li {
    padding: 1.4rem 0.5rem;
    display: inline-block;

    &:first-child {
      padding-left: 0;
    }

    a {
      padding: 0 !important;
    }
  }

  svg,
  img {
    height: 18px;
    width: auto;
    vertical-align: bottom;
  }
}

#nav-primary {
  color: $blue;
  transition: none;

  ul {
    &:first-child {
      margin-left: 0;
    }

    li {
      list-style: none;

      a {
        font-family: $font-bold;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        color: $blue;

        &:hover {
          color: $blue-highlight;
        }
      }

      &.current-menu-item {
        a {
          color: $blue;
        }
      }

      &.menu-item.menu-button a {
        background-color: $blue-highlight;
        border-radius: 4px;
        color: $white;
        display: inline-block;
        margin-left: 1rem;
      }

      &.is-submenu-item {
        a {
          font-family: $font-regular;
          font-weight: $font-weight-regular;
        }
      }

      &.is-dropdown-submenu-parent.menu-item-has-children > a {
        font-family: $font-bold;
        font-weight: $font-weight-bold;
      }

      &.is-active > a {
        color: $blue-highlight;
      }

      &.current-menu-item > a {
        color: $blue-highlight;
      }
    }

    &.sub-menu {
      margin-left: 0.5rem;

      &.sub-menu li a {
        position: relative;
        font-size: 14px;
        padding: 0.75rem 0.75rem;
      }
    }
  }

  &.off-canvas {
    background-color: $white;
    transition: 1s;
    width: 0;
    height: 100vh;

    ul {
      li {
        a {
          padding: 0.7rem 1rem;
        }

        &.menu-button {
          margin-top: 0;
          margin-left: 0;

          a {
            padding: 0.7rem 1rem;
          }
        }
      }
    }

    .social-links {
      li {
        display: inline-block;

        img {
          padding: 1rem;
          width: 30px;
          box-sizing: content-box;
        }
      }
    }

    .is-dropdown-submenu {
      background-color: transparent;
      border: none;
    }

    .search-icon {
      circle,
      path,
      rect {
        stroke: $white;
      }
    }

    &.is-open {
      width: 100%;
      overflow-x: hidden;
    }
  }

  &.expanded {
    display: block !important;
    background-color: $white;
  }
}

.is-dropdown-submenu {
  position: static;
  display: block;
}

.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right > a::after {
  display: none;
}

.dropdown.menu.vertical > li.opens-right {
  > a::after {
    content: '';
    height: 10px;
    width: 10px;
    border: none;
    border-top: 2px solid $blue;
    border-right: 2px solid $blue;
    display: inline-block;
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(135deg);
    top: 33px;
    right: 1rem;
  }

  &.is-active > a::after {
    border-top: 2px solid $blue-highlight;
    border-right: 2px solid $blue-highlight;
  }

  &.current-menu-item > a::after {
    border-top: 2px solid $blue-highlight;
    border-right: 2px solid $blue-highlight;
  }
}

//Dropdown third level
.is-dropdown-submenu-parent.is-active > .sub-menu > .is-dropdown-submenu-parent > .sub-menu {
  position: static;
  border: none;
  display: block;
  visibility: visible;
  height: auto !important;
}

//Page header
.page-header {
  .overlap-content {
    padding: 2rem;
  }

  h1 {
    margin-bottom: 0;
  }
}

//Form
input[type=text] {
  background-color: transparent !important;
  border-left: none;
  border-right: none;
  border-top: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

//Search
#offCanvasTop {
  height: auto;
  background-color: rgba(40, 40, 40, 0.9);

  .cell {
    padding: 2rem 0;
  }
}

.search-field {
  background-color: transparent;
  border: none;
  box-shadow: none;
  border-bottom: $white 2px solid;
  border-radius: 0;
  color: $white;
  margin-bottom: 0;
  line-height: 38px;
  height: auto;
  padding-top: 6px;
  padding-bottom: 6px;
}

#off-canvas-search {
  position: absolute;
  background-color: $blue;
  z-index: 100;
  width: 100%;
  height: 100%;

  .close-button span {
    color: $white;
  }
}

//Page
#hero-content,
.hero-content,
.background-content {
  width: 100%;
  height: 100%;

  .grid-x {
    height: 100%;
  }
}

//slider
.slider {
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
  background-color: transparent;
  display: none;

  &.slick-initialized {
    display: block;
  }

  button {
    position: absolute;
    top: 50%;
    top: calc(50% - 15px);
    height: 30px;
    width: 30px;
    text-indent: -9999em;
    z-index: 2;
    cursor: pointer;
  }

  .slick-prev {
    left: 20px;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      height: 30px;
      width: 30px;
      border-top: 2px solid #fff;
      border-left: 2px solid #fff;
      display: inline-block;
      transform: rotate(-45deg);
    }
  }

  .slick-next {
    right: 20px;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      height: 30px;
      width: 30px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      display: inline-block;
      transform: rotate(45deg);
    }
  }

  .slide-title {
    color: $white;
    font-family: $font-ultra;
    font-weight: $font-weight-ultra;
  }

  .slide-content {
    color: $white;
  }

  .background-content {
    .cell {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}

.full-screen-slider .slide-button {
  font-family: $font-bold;
  font-weight: $font-weight-bold;
}

.slick-list {
  padding: 0;
}

.slick-initialized .slick-slide {
  overflow: hidden;
}

//home
.full-screen-slider {
  .slide {
    height: calc(100vh - 76px);
    overflow: hidden;
    position: relative;

    .content-cell {
      display: flex;
      align-items: center;
    }
  }

  .grid-x {
    height: 100%;
  }
}

#home-statement {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#006799+0,0a435f+100&0.86+0,1+100 */
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 103, 153, 0.86) 0%, rgba(10, 67, 95, 1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 103, 153, 0.86) 0%, rgba(10, 67, 95, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(0, 103, 153, 0.86) 0%, rgba(10, 67, 95, 1) 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#db006799', endColorstr='#0a435f', GradientType=1);

  .background-image img {
    opacity: 0.4;
  }

  h1 {
    text-shadow: 1px 1px 5px #333;
  }
}

//Sections
.one-column-section {
  position: relative;
  overflow: hidden;
}

.cell-background-image {
  position: relative;
}

.donate-cell {
  margin-left: -2px;
  position: relative;
  z-index: 2;

  .button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 1px solid $blue-highlight;

    &:hover {
      border-bottom-color: darken($blue-highlight, 20%);
    }
  }
}

.donate-text {
  color: $blue;
}

.horizontal-ul {
  display: flex;
  flex-basis: auto;

  li {
    list-style: none;
    margin-bottom: 0;
  }
}

.toggle-giving {
  margin-top: 0;
  margin-bottom: 1rem;

  li {
    width: 50%;

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &.active,
    &:hover {
      background-color: $blue-highlight;
    }
  }
}

.donate-amounts {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
  height: 0;
  margin-top: 1rem;
  margin-bottom: 0;
  justify-content: space-between;

  li {
    flex-basis: 0;
    flex-grow: 1;
    padding: 2px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    a {
      margin-bottom: 0;
      flex-basis: 0;
      flex-grow: 1;
      width: 100%;
      display: block;

      &.active,
      &:hover {
        background-color: $blue-highlight;
      }
    }
  }
}

.donate-amounts.visible {
  display: flex;
  visibility: visible;
  height: auto;
  opacity: 1;
}

.select-category-section {
  position: relative;
  z-index: 2;
}

.category-slider {
  h4 {
    color: $white;
    font-size: 24px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  }

  p {
    color: $white;
    margin: 0.5rem 0;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  }

  .category-select-button {
    position: absolute;
    bottom: 1rem;
    width: 100%;
  }

  .background-content {
    background-color: rgba(77, 77, 77, 0.8);

    .cell a {
      font-size: 14px;
      padding: 0.25rem 1rem;
      margin-top: 0.5rem;
      color: $white;
      border: 1px solid $blue-highlight;
      display: inline-block;
      border-radius: 4px;
    }
  }

  .slick-list {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }

  .slide:hover,
  .slick-current {
    position: relative;
    overflow: visible;
    z-index: 10;

    .aspect {
      transform: scale(1.1);
      z-index: 100;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      border-radius: 4px;
    }

    .background-content {
      background-color: transparent;

      .cell a {
        background-color: $blue-highlight;
      }
    }
  }

  .slide:hover {
    z-index: 11;
  }
}

.category-link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.footer-utilities {
  ul {
    list-style: none;
  }
}

//Tabs
#section-tabs {
  text-align: center;
  background-color: transparent;
  border: none;
}

.tabs-content {
  border: none;
  background-color: $blue;
  position: relative;
  padding: 0;
  color: $white;
}

.tabs-title {
  float: none;
  display: inline-block;

  &:focus,
  &:active {
    outline: none;

    a {
      outline: none;
    }
  }

  a {
    color: $blue;
  }

  a:hover,
  a:focus {
    color: $blue-highlight;
    outline: none;

    .tab-icon {
      background-color: $blue;
    }
  }

  &.is-active {
    a {
      background-color: $blue;
      color: $white;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }
}

.tabs-title > a[aria-selected='true'] {
  color: $white;

  .tab-icon {
    background-color: $blue;
  }
}

.tab-icon {
  border-radius: 100%;
  border: 1px solid $blue-highlight;
  width: 36px;
  height: 36px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  img {
    width: 21px;
    padding-top: 8px;
    height: auto;
    display: inline-block;
    margin: 0;
  }
}

.background-image-tabs {
  .tabs-content {
    background-color: $white;
    color: $black;
  }
}

.cta-section .background-image::after {
  content: ' ';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba($blue, 0.7);
}

//Staff
.staff-cell {
  padding: 1rem 2rem;
  background-color: rgba($blue, 0.2);
}

.staff-title {
  margin-top: 0;
}

//Annual Report Section
.report-single-link {
  display: inline-block;
  padding-top: 6px;
  font-weight: bold;

  img {
    width: 400px;
    height: auto;
    box-shadow: 0 0 12px rgb(120, 120, 120);
  }

  p {
    font-weight: bold;
    text-transform: uppercase;
  }
}

//footer
.footer-bottom {
  position: relative;

  .h2 {
    margin-bottom: 0;
  }
}

.footer-menu li a {
  padding-left: 0;
}
