.button {
  border: none;
  border-radius: 4px;
  font-weight: $font-weight-bold;

  &:hover {
    background-color: darken($blue-highlight, 20%);
  }
}

.button.outline {
  background-color: transparent;
  border: 1px solid $blue-highlight;
  color: $blue-highlight;
}

.outline.blue-highlight {
  border-color: $blue-highlight;
  color: $blue-highlight;
}

.outline.blue {
  border-color: $blue;
  color: $blue;
}

button:focus {
  outline: none;
}
